<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <img src="../assets/images/moad.png" alt="Moad" style="width: 80px; height: 80px;">
      </li>
      <li class="nav-item active mt-4">
        <a class="nav-link" routerLink="/proprietaire"><i class="bi bi-person"></i> Proprietaires</a>
      </li>
      <li class="nav-item mt-4">
        <a class="nav-link" routerLink="/categorie"><i class="bi bi-justify"></i> Categories</a>
      </li>
      <li class="nav-item mt-4">
        <a class="nav-link" routerLink="/terrain"><i class="bi bi-house"></i> Terrains</a>
      </li>
      <li class="nav-item mt-4">
        <a class="nav-link" routerLink="/taux"><i class="bi bi-house-gear"></i> Taux</a>
      </li>
      <li class="nav-item mt-4">
        <a class="nav-link" routerLink="/taxetnb"><i class="bi bi-bank"></i> Taxes</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button (click)="logout()" class="btn btn-link nav-link"><i class="bi bi-box-arrow-right"></i></button>
      </li>
    </ul>
  </div>
</nav>
<h3 class="ms-5 p-3 text-center">Taxes Management</h3>
<div class="p-5">
  <form class="form" (ngSubmit) = "onSubmit()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label style="color: gray;">Surface</label>
        <select id="select1" class="form-select" [(ngModel)]="taxes.terrain" name="terrain">
          <option value="" disabled selected>Select a surface</option>
          <option *ngFor="let ter of terrain" [ngValue]="ter">{{ ter.id }} - {{ ter.mc }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" name="description" placeholder="Description" [(ngModel)]="taxes.description">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label style="color: gray;">Categories</label>
        <select class="form-select" [(ngModel)]="taxes.categorie" name="categorie">
          <option value="" disabled selected>Select a category</option>
          <option *ngFor="let cat of categorie" [ngValue]="cat">{{ cat.id }} - {{ cat.type }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" name="label" placeholder="Label" [(ngModel)]="taxes.label">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label style="color: gray;">Owner</label>
        <select id="select1" class="form-select" [(ngModel)]="taxes.proprietaire" name="proprietaire">
          <option value="" disabled selected>Select an owner</option>
          <option *ngFor="let prop of proprietaire" [ngValue]="prop">{{ prop.id }} - {{ prop.cin }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <input type="number" class="form-control" name="tnbyear" placeholder="Tnb Year" min="1" [(ngModel)]="taxes.tnbyear">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label style="color: gray;">Taux</label>
        <select id="select1" class="form-select" [(ngModel)]="taxes.taux" name="taux">
          <option value="" disabled selected>Select a rate</option>
          <option *ngFor="let tau of taux" [ngValue]="tau">{{ tau.id }} - {{ tau.montant }}</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-outline-success mt-3">Add</button>
  </form>
  <div class="d-flex">
    <input type="text" class="form-control mt-3 w-50" placeholder="Search Tnb By Cin" [(ngModel)]="cinToSearch">
    <button class="btn btn-outline-info mt-2 ms-2" (click)="searchTaxeTnbByCin()"><i class="bi bi-search"></i></button>
</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Montant</th>
      <th scope="col">TnbYear</th>
      <th scope="col">Description</th>
      <th scope="col">Label</th>
      <th scope="col">Categorie</th>
      <th scope="col">Owner</th>
      <th scope="col">Surface</th>
      <th scope="col">Taux</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="showAllData; else searchResults">
  <tr *ngFor = "let taxes of taxe">
    <td>{{taxes.id}}</td>
    <td>{{taxes.montantbase}}</td>
    <td>{{taxes.tnbyear}}</td>
    <td>{{taxes.description}}</td>
    <td>{{taxes.label}}</td>
    <td>{{taxes.categorie?.type}}</td>
    <td>{{taxes.proprietaire?.cin}}</td>
    <td>{{taxes.terrain?.mc}}</td>
    <td>{{taxes.taux?.montant}}</td>
    <td>
<button (click)="deleteTaxe(taxes.id)"  class="btn btn-outline-danger me-2">Delete</button>
<button  class="btn btn-outline-secondary">Update</button>
    </td>
  </tr>
</ng-container>
<ng-template #searchResults>
  <tr *ngFor = "let taxes of taxesSearch">
    <td>{{taxes.id}}</td>
    <td>{{taxes.montantbase}}</td>
    <td>{{taxes.tnbyear}}</td>
    <td>{{taxes.description}}</td>
    <td>{{taxes.label}}</td>
    <td>{{taxes.categorie?.type}}</td>
    <td>{{taxes.proprietaire?.cin}}</td>
    <td>{{taxes.terrain?.mc}}</td>
    <td>{{taxes.taux?.montant}}</td>
    <td>
<button (click)="deleteTaxe(taxes.id)"  class="btn btn-outline-danger me-2">Delete</button>
<button  class="btn btn-outline-secondary">Update</button>
    </td>
  </tr>
</ng-template>
</table>
