<!-- app.component.html -->
<div>
  <ng-container *ngIf="isLoggedIn; else notLoggedIn">
    <!-- Content to display when the user is logged in -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse ms-1" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <img src="../assets/images/moad.png" alt="Moad" style="width: 80px; height: 80px;">
          </li>
          <li class="nav-item active mt-4">
            <a class="nav-link" routerLink="/proprietaire"><i class="bi bi-person"></i>Proprietaires</a>
          </li>
          <li class="nav-item mt-4">
            <a class="nav-link" routerLink="/categorie"><i class="bi bi-justify"></i>Categories</a>
          </li>
          <li class="nav-item mt-4">
            <a class="nav-link" routerLink="/terrain"><i class="bi bi-house"></i>Terrains</a>
          </li>
          <li class="nav-item mt-4">
            <a class="nav-link" routerLink="/taux"><i class="bi bi-house-gear"></i>Taux</a>
          </li>
          <li class="nav-item mt-4">
            <a class="nav-link" routerLink="/taxetnb"><i class="bi bi-bank"></i>Taxes</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </ng-container>

  <ng-template #notLoggedIn>
    <!-- Redirect the user to /app after login -->
    <router-outlet></router-outlet>
  </ng-template>
</div>
